<div class="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Create Category</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="categoryForm" novalidate role="form">
                        <div class="col-md-10 px-1">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="data.name" formControlName="name" placeholder="Category Name">
                            </div>
                        </div>
                        <div class="col-md-10 px-1">
                            <!-- <div class="form-group">
                                <button class="btn btn-primary btn-block">Upload file</button>
                                <input type="file" class="form-control" (change)="selectPicture($event)">
                            </div> -->

                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img src="https://demos.creative-tim.com/paper-dashboard-2-pro/assets/img/image_placeholder.jpg" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div>
                                    <span class="btn btn-rose btn-round btn-file">
                                  <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="..." (change)="selectPicture($event)">
                                    </span>
                                    <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" (click)="addCategory()" class="btn btn-primary btn-round">Save Category</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>