<template>
    <div>
      <Header />
      <SearchBar />
        <div id="content" class="app-content" style="padding-top: 220px;">

            <div class="col-sm-12" style="padding-bottom: 5%">

                <CategoryCardView :categories="categories" />

            </div>
        </div>
    </div>
</template>

<style>
  @import url('./category.css');
</style>

<script>
import Header from '@/v1.0/components/header'
import SearchBar from '@/v1.0/components/search-bar'
import CategoryCardView from '@/v1.0/components/categoryCardView'

import { ServiceFactory } from '@/v1.0/services/serviceFactory'
const CategoriesRepository = ServiceFactory.get('categories')

export default {
  name: 'Category',
  components: {
    Header,
    SearchBar,
    CategoryCardView
  },
  data() {
    return {
      isLoading: false,
      categories: []
    }
  },
  created() {
    this.getAllCategories();
  },
  methods: {
    async getAllCategories() {
      this.isLoading = true;
      const { data } = await CategoriesRepository.getAll();
      this.isLoading = false;
      this.categories = data;
    }
  },
  mounted() {
  }
}
</script>