<div class="content">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Create Category</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="articleForm" novalidate role="form">
                        <div class="col-md-12 px-1">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="data.name" formControlName="name" placeholder="Category Name">
                            </div>
                        </div>
                        <div class="col-md-12 px-1">
                            <div class="form-group">
                                <label>Content</label>
                                <textarea class="form-control textarea" id="content" name="content" [(ngModel)]="data.content" formControlName="content" placeholder="content ...."></textarea>
                            </div>
                        </div>


                        <div class="col-lg-8 col-md-8 col-sm-8 px-1">
                            <div class="dropdown bootstrap-select show-tick dropup" style="width: 100%;">
                                <select class="selectpicker" data-style="btn btn-info btn-round" multiple="" title="Choose City" data-size="7" tabindex="-98">
                                <option disabled=""> Multiple Options</option>
                                <option *ngFor="let c of allCategories">{{c.name}}</option>
                              </select>

                                <div class="dropdown-menu" role="combobox" style="max-height: 287px; overflow: hidden; min-width: 229px; will-change: transform;">
                                    <div class="inner show" role="listbox" aria-expanded="false" tabindex="-1" style="max-height: 287px; overflow-y: auto;">
                                        <ul class="dropdown-menu inner show">
                                            <li class="disabled"><a role="option" class="dropdown-item disabled" aria-disabled="true" tabindex="-1" aria-selected="false"><span class="nc-icon nc-check-2 check-mark"></span><span class="text"> Multiple Options</span></a></li>
                                            <li *ngFor="let c of allCategories" class=""><a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false"><span class="nc-icon nc-check-2 check-mark"></span><span class="text">{{c.name}} </span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" (click)="addArticle()" class="btn btn-primary btn-round">Save Category</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
