<template>

                <div class="card" style="margin-bottom: 3%;">
                    <div class="card-body" style="padding: 1.5rem 5rem;">

                        <h2 style="text-align: left; font: normal normal; font-size: 24px; font-weight: bold; letter-spacing: 0px; color: #2C3E50; opacity: 1; margin-top: 8%;">{{ article.name }}</h2>

                        <p style="text-align: left; font-size: 14px; font: normal normal normal; letter-spacing: 0px; color: #5E738B; opacity: 1; margin-top: 4%;">{{ article.content }}</p>


                        <div class="card" style="cursor: pointer; margin-top: 3%; background: #F2F7F9 0% 0% no-repeat padding-box; border-radius: 4px; opacity: 1;">
                            <div class="card-body" style="padding: 1.5rem 1.5rem;">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p style="text-align: left; font: normal normal; font-size: 12px; font-weight: bold; letter-spacing: 0px; color: #5E738B; opacity: 1; margin-bottom: 0px;">Ces informations vous-ont elles été utiles ?</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="/assets/images/Image1@2x.png" style="margin-top: -6px; margin-left: 5%;" height="23" alt="" srcset="">
                                        <img src="/assets/images/Image 2@2x.png" style="margin-top: -6px; margin-left: 5%;" height="23" alt="" srcset="">
                                        <img src="/assets/images/Image 3@2x.png" style="margin-top: -6px; margin-left: 5%;" height="23" alt="" srcset="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

</template>


<script>
export default {
  name: 'ArticleCardView',
  props: {
    article: Object
  },
  components: {
  },
  data() {
    return {
      isLoading: false,
    }
  },
  created() {
  },
  methods: {
  },
}
</script>
