<template>
    <div>
      <Header />
      <SearchBar />
        <div id="content" class="app-content" style="padding-top: 220px;">
            <Back />
            <div class="col-sm-12">

                <ArticleCardView :article="article" />

            </div>
        </div>
    </div>
</template>

<style>
  @import url('./article.css');
</style>

<script>
import Header from '@/v1.0/components/header'
import SearchBar from '@/v1.0/components/search-bar'
import Back from '@/v1.0/components/back'
import ArticleCardView from '@/v1.0/components/articleCardView'

import { ServiceFactory } from '@/v1.0/services/serviceFactory'
const ArticlesRepository = ServiceFactory.get('articles')

export default {
  name: 'Article',
  components: {
    Header,
    SearchBar,
    Back,
    ArticleCardView
  },
  data() {
    return {
      isLoading: false,
      article: {}
    }
  },
  created() {
  },
  watch: {
    $route: {
      immediate: true,
      handler($route) {
        this.id = $route.params.id
        this.getArticleById(this.id);
      }
    }
  },
  methods: {
    async getArticleById(id) {
      this.isLoading = true;
      const { data } = await ArticlesRepository.getOne(id);
      this.isLoading = false;
      this.article = data;
    }
  },
  mounted() {
  }
}
</script>