<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="card-title "> Categories List</h4>
                        </div>
                        <div class="col-sm-2">
                            <button (click)="gotoAddCategory()" class="btn btn-info">Add</button>

                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="table-responsive ">
                        <table class="table ">
                            <thead class=" text-primary ">
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Picture
                                    </th>
                                    <th>
                                        State
                                    </th>
                                </tr>
                            </thead>
                            <tbody v-if="allCategories.length != 0">
                                <tr *ngFor="let category of allCategories ">
                                    <td>
                                        {{ category.name }}
                                    </td>
                                    <td>
                                        <img src="{{ category.picture }} " alt="{{ category.name }} " height="50 ">
                                    </td>
                                    <td>
                                        {{ category.state }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
