<template>

                <div class="card" style="margin-bottom: 3%;">
                    <div class="card-body" style="padding: 1.5rem 1.5rem;">
                        <div class="row">
                            <div class="col-sm-2">
                                <img :src="category.picture" class="card-icone" alt="icon" height="42" srcset="">
                            </div>
                            <div class="col-sm-10">
                                <div class="card-title-1" style="margin-top: 1.35%;">{{ category.name }}</div>
                                <div v-if="isLoading" class="card-number-of-items">{{ articles.length }} articles dans cette catégorie</div>
                            </div>
                        </div>

                        <div v-if="isLoading">
                        <div v-for="(article, index) in articles" :key="index" v-on:click="gotoArticle(article.id, $event)" class="card" style="cursor: pointer; margin-top: 3%; margin-left: 8%; margin-right: 8%; background: #F2F7F9 0% 0% no-repeat padding-box; border-radius: 4px; opacity: 1;">
                            <div class="card-body" style="padding: 1.5rem 1.5rem;">
                                <p style="text-align: left; font: normal normal; font-size: 18px; font-weight: bold; letter-spacing: 0px; color: #2C3E50; opacity: 1; margin-left: 3%; margin-bottom: 0px; margin-top: -2%;">{{ article.name }}</p>
                                <p style="text-align: left; font: normal normal normal; font-size: 12px; letter-spacing: 0px; color: #5E738B; opacity: 1; margin-left: 3%; margin-bottom: 0px;">Mise à jour cette semaine</p>
                            </div>
                        </div>
                        </div>



                    </div>
                </div>

</template>


<script>
import { ServiceFactory } from '@/v1.0/services/serviceFactory'
const ArticlesRepository = ServiceFactory.get('articles')

export default {
  name: 'ListArticleCardView',
  props: {
    category: Object
  },
  components: {
  },
  data() {
    return {
      isLoading: false,
      articles: []
    }
  },
  created() {
      this._getArticleByCategory(this.category.id);
  },
  methods: {
    async _getArticleByCategory(id) {
        console.log('category', this.category);
      this.isLoading = false;
      const { data } = await ArticlesRepository.getArticleByCategory(id);
      this.articles = data;
      this.isLoading = true;
    },
    gotoArticle: function (id, event) {
      event.preventDefault();
      window.location.href = `/article/${id}`;
    }
  },
}
</script>
