<template>
    <p style="text-align: left; font: normal normal; font-size: 13px; letter-spacing: 0px; color: #C2CAD8;">Aide en ligne / <a href="/" style="text-decoration: none; color: #2C3E50; font-weight: bold;">Catégorie</a></p>
</template>


<script>

export default {
  name: 'Back',
  props: {
  },
  components: {
  }
}
</script>
