<template>


        <div id="header" class="app-header">

            <div class="mobile-toggler">
                <button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
            </div>


            <div class="brand">
                <a href="#" class="brand-logo" style="height: 125%; padding-left: 23%;">
                    <img src="/assets/images/Groupe 1940.svg" alt="" height="20" />
                </a>
            </div>


            <div class="menu">
                <div style="width: 100%;"></div>
                <div class="menu-item dropdown" style="width: 40%;">
                    <a href="#" data-bs-toggle="dropdown" data-display="static" class="menu-link">
                        <div class="menu-img">
                            <img src="/assets/images/Logo_Quadra@2x.png" alt="" class="ms-100 mh-100 rounded-circle" />
                        </div>
                        <div class="menu-login" style="margin-left: 6%;">
                            <span style="top: 14px; left: 1006px; width: 112px; height: 19px; text-align: left; font-size: 14px; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">Quadra Diffusion</span> <br>
                            <span style="top: 33px; left: 1006px; width: 26px; height: 15px; text-align: left; font-size: 11px; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">Nord</span>
                        </div>
                    </a>
                </div>


                <div class="menu-item dropdown" style="border-left: 2px solid #FFFFFF;">
                    <a href="#" data-bs-toggle="dropdown" data-display="static" class="menu-link" style="padding-right: 0px; padding-left: 25px;">
                        <div class="menu-icon"><i class="fas fa-lg fa-fw me-2 fa-question-circle" style="color: white;"></i></div>
                    </a>
                </div>
                <div class="menu-item dropdown"  style="padding-right: 25px;">
                    <a href="#" data-bs-toggle="dropdown" data-display="static" class="menu-link">
                        <div class="menu-img online">
                            <img src="/assets/images/user.jpg" alt="" class="ms-100 mh-100 rounded-circle" />
                        </div>
                    </a>
                </div>
            </div>

        </div>
</template>


<script>

export default {
  name: 'Header',
  props: {
  },
  components: {
  }
}
</script>
