<template>
<div>
    
        <div class="app-header" style="background: #3598DC 0% 0% no-repeat padding-box; margin-top: 60px; margin: 1.5em, 1.5em; height: 30%;">

            <div class="row" style="width: 100%; margin: 2.5% 21% 1% 21%; ">
                <div class="col-sm-8">
                    <h2 style="text-align: left; font-size: 24px; font-weight: bold; letter-spacing: 0px; color: #FFFFFF; opacity: 1; margin-top: 2.5%;
                    ">Comment pouvons-nous vous aider ?</h2>
                </div>
                <div class="col-sm-4">
                    <p style="text-align: right; font: normal normal; font-size: 12px; font-weight: bold; letter-spacing: 0px; color: #FFFFFF; opacity: 1; margin-top: 8%;">
                        <img src="/assets/images/open-in-new.svg" alt="open new" style="margin-right: 3%;"> Aller sur Affixe2.0
                    </p>
                </div>
            </div>

            <div class="menu" style="background: transparent; margin-bottom: 8%;">
                <form class="menu-search" method="POST" name="header_search_form">
                    <div class="menu-search-icon"><i class="fa fa-search"></i></div>
                    <div class="menu-search-input">
                        <input type="text" class="form-control" placeholder="Rechercher des réponses…"
                            @blur="searchResultsVisible = false"
                            @focus="searchResultsVisible = true"
                            @keydown.esc="searchResultsVisible = false"
                            v-model="search">
                    </div>
                </form>

            </div>
                        <div v-if="search.length > 0" class="card" style="width: 100%; cursor: pointer; margin-top: 3%; margin-left: 21%; margin-right: 20%; background: #F2F7F9 0% 0% no-repeat padding-box; border-radius: 4px; opacity: 1; margin-top: -8.1%;">
                            <div class="card-body" style="padding: 1.5rem 1.5rem;">
                                <div v-for="(category, index) in searchResults" :key="index">
                                    <div v-on:click="gotoDetailCategory(category.item.category.id, $event)" class="card" style="cursor: pointer; margin-bottom: 3%;">
                                        <div class="card-body" style="padding: 1.5rem 1.5rem;">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <img :src="category.item.category.picture" class="card-icone" alt="icon" height="42" srcset="">
                                                </div>
                                                <div class="col-sm-10" style="padding-left: 3%;">
                                                    <div class="card-title-1" style="margin-top: 1.35%;">{{ category.item.category.name }}</div>
                                                    <div class="card-number-of-items">{{ category.item.articles.length }} articles dans cette catégorie</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

            

            
            <VueFuse style="display: none;"
            :list="posts"
            :fuse-opts="options"
            :search="search"
            :map-results="false"
            placeholder="Search Books of the Bible"
            class="w-64 text-center h-8 border rounded-lg center"
            @fuse-results="handleResults"
            />

        </div>

                
</div>
        
</template>


<script>
import { ServiceFactory } from '@/v1.0/services/serviceFactory'
const CategoriesRepository = ServiceFactory.get('categories')

import VueFuse from 'vue-fuse'

export default {
  name: 'SearchBar',
  props: {
  },
  components: {
    VueFuse,
  },
  created() {
    this.getAllCategories();
  },
  data() {
      return {
        query: '',
        search: '',
        searchResultsVisible: false,
        searchResults: [],
        posts: [],
        categories: [],
            options: {
                shouldSort: true,
                includeMatches: true,
                threshold: 0.5,
                location: 0,
                distance: 500,
                maxPatternLength: 32,
                minMatchCharLength: 1,
                keys: ['category.name', 'articles.name', 'articles.content']
            }
      }
  },
  methods: {
    performSearch() {
      this.$search(this.query, this.posts, this.options)
        .then(results => {
          this.searchResults = results
        })
    },
    handleResults (r) {
        console.log('result', r[0]);
        this.searchResults = r;
    },
    async getAllCategories() {
      this.isLoading = true;
      const { data } = await CategoriesRepository.findAllCategoryAndArticle();
      this.isLoading = false;
      this.posts = data;
      console.log('posts', this.posts);
    },
    gotoDetailCategory: function (id, event) {
      event.preventDefault();
      window.location.href = `/category/${id}`;
    }
  },
}
</script>
