<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title> -->
    <title>AspStudio | Dashboard</title>

    <meta data-n-head="1" charset="utf-8">
    <meta data-n-head="1" data-hid="description" name="description" content="Keep 100% of your royalties and rights">
    <link data-n-head="1" rel="icon" type="image/x-icon" href="<%= BASE_URL %>logo-mini.png">

    <link href="<%= BASE_URL %>assets/css/app.min.css" rel="stylesheet" />

</head>

<body>

    <div id="app" class="app">
        <noscript>
          <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->

        <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>

    </div>


    <script src="<%= BASE_URL %>assets/js/app.min.js" type="5b0259af2e4b3adcb692fa0b-text/javascript"></script>


    <script src="<%= BASE_URL %>assets/js/apexcharts.min.js" type="5b0259af2e4b3adcb692fa0b-text/javascript"></script>

    <script src="<%= BASE_URL %>assets/js/rocket-loader.min.js" data-cf-settings="5b0259af2e4b3adcb692fa0b-|49" defer=""></script>
</body>

</html>