<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-10">
                            <h4 class="card-title">Articles List</h4>
                        </div>
                        <div class="col-sm-2">
                            <button (click)="gotoAddArticle()" class="btn btn-info">Add</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Content
                                    </th>
                                    <th>
                                        Categories
                                    </th>
                                    <th>
                                        State
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let article of allArticles">
                                    <td>
                                        {{ article.name }}
                                    </td>
                                    <td>
                                        {{ article.content | slice:0:100 }} .....
                                    </td>
                                    <td>
                                        <span *ngFor="let category of article.listCategory">
                                          {{ category }} <br>
                                        </span>
                                    </td>
                                    <td>
                                        {{ article.state }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
