<template>

                                <div class="card-number-of-items">{{ articles.length }} articles dans cette catégorie</div>

</template>


<script>
import { ServiceFactory } from '@/v1.0/services/serviceFactory'
const ArticlesRepository = ServiceFactory.get('articles')

export default {
  name: 'DetailCategoryCardView',
  props: {
    categoryId: String
  },
  components: {
  },
  data() {
    return {
      isLoading: false,
      articles: []
    }
  },
  created() {
      this._getArticleByCategory()
  },
  methods: {
    async _getArticleByCategory() {
      this.isLoading = true;
      const { data } = await ArticlesRepository.getArticleByCategory(this.categoryId);
      this.isLoading = false;
      this.articles = data;
    }
  },
}
</script>
