<template>
    <div v-for="(category, index) in categories" :key="index">
                <div v-on:click="gotoDetailCategory(category.id, $event)" class="card" style="cursor: pointer; margin-bottom: 3%;">
                    <div class="card-body" style="padding: 1.5rem 1.5rem;">
                        <div class="row">
                            <div class="col-sm-2">
                                <img :src="category.picture" class="card-icone" alt="icon" height="42" srcset="">
                            </div>
                            <div class="col-sm-10" style="padding-left: 3%;">
                                <div class="card-title-1" style="margin-top: 1.35%;">{{ category.name }}</div>
                                <DetailCategoryCardView :categoryId="category.id" />
                            </div>
                        </div>
                    </div>
                </div>
    </div>

</template>


<script>
import DetailCategoryCardView from '@/v1.0/components/categoryCardView/details'

export default {
  name: 'CategoryCardView',
  props: {
    categories: Array
  },
  components: {
    DetailCategoryCardView
  },
  data() {
    return {
      isLoading: false,
      articles: []
    }
  },
  created() {
  },
  methods: {
    gotoDetailCategory: function (id, event) {
      event.preventDefault();
      window.location.href = `/category/${id}`;
    }
  },
}
</script>
