<template>
    <div>
      <Header />
      <SearchBar />
        <div id="content" class="app-content" style="padding-top: 220px;">
            <Back />
            <div class="col-sm-12">

                <ListArticleCardView v-if="!isLoading" :category="category"  />

            </div>
        </div>
    </div>
</template>

<style>
  @import url('./detailCategory.css');
</style>

<script>
import Header from '@/v1.0/components/header'
import SearchBar from '@/v1.0/components/search-bar'
import Back from '@/v1.0/components/back'
import ListArticleCardView from '@/v1.0/components/listArticleCardView'

import { ServiceFactory } from '@/v1.0/services/serviceFactory'
const CategoriesRepository = ServiceFactory.get('categories')

export default {
  name: 'DetailCategory',
  components: {
    Header,
    SearchBar,
    Back,
    ListArticleCardView
  },
  data() {
    return {
      isLoading: false,
      id: 0,
      category: {}
    }
  },
  created() {
  },
  watch: {
    $route: {
      immediate: true,
      handler($route) {
        this.id = $route.params.id
        this.getCategory(this.id);
      }
    }
  },
  methods: {
    async getCategory(id) {
      this.isLoading = true;
      const { data } = await CategoriesRepository.getOne(id);
      this.isLoading = false;
      this.category = data;
    }
  },
  mounted() {
  }
}
</script>